@import url(header.css);
/* .row{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.Content-us{
    background-color: rgba(28, 255, 255, 0);
    width: 70%;
    height: 1000px;
    margin: auto; 
    
}
.logo-content-us>.logo,
.logo-content-us>.logo-text{
   height: 100px;
   
}
.logo>.card,
.logo-text>.card{
    height: 100%;
    border-radius: 0px;
    border: none;
}
img{
    height: 100%;
    width: 100%;

}

/*about-exspensive-brand */
.Content-us> .expensive-brand>.inner-exp-brand{
    height: 800px;
    width:  1250px;
    background-color: rgba(255, 140, 0, 0); 
    padding: 100px 0px;
    border-top: 1px solid rgb(224, 221, 221);
}
.expensive-brand>.image{
    background-color: rgba(0, 0, 255, 0);
    margin-top: 99px;
    
}
.image>img{
    height: 650px;
    width: 580px;
}


.expensive-brand> .decsrption{
    background-color: rgba(4, 255, 0, 0);
    margin-top: 99px;
}
.decsrption>.text-group>.aboutus{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    color:rgb(255, 81, 0)
}
.text-group>.header-exsp-brnad{
    font-size:42px

}
.text-group>.caption{

    color: grey;
    line-height:30px;  
    font-size:18px 
}
.decsrption>.text-group> p>a{
   text-decoration:underline;
   font-size: 13px;
   font-weight: 600;
   letter-spacing: 2px;
   transition: .3s;
   color: darkslategray;
   text-underline-offset: 0.5em;
   text-decoration-thickness: 2px;
   cursor: pointer;
    
}
.text-group>.link-read>:hover{
    text-decoration: underline 2px rgb(255, 157, 0);
}

/*section-Create-shoes */
/* ក្បាល */
.main-content>.main-create-shoe{
    width: 100%;
    height: 900px;
    background-color:#f1f1ef;
    margin: auto;
    margin-top: 45px;
    padding:0px 100px;

}

/* detail */


.detail-create-shoes>.detail-create-shoes-left{
    padding-left: 230px;
    padding-top: 110px;
   
}
.detail-create-shoes>.detail-create-shoes-right{
    padding-right: 230px;
    padding-top: 130px;
}
.detail-create-shoes>.image-create-shoes{
    height: 480px;
    width: 620px;
    margin-top: 68px;
}
.no-1{
    color: var(--color--luminous-vivid-amber);
 }
 .main-create-shoe>.title{
    padding-top: 95px;
 }
.main-create-shoe>.title >.ttile-main-create-shoes{
   color: rgb(0, 0, 0);
   font-size: 45px;
   font-weight: 500;
}
.main-create-shoe>.title> .d-title{
    padding: 0px 500px;
    color: rgb(165, 164, 164);
    font-size: 18px;
    line-height: 30px;
}
.description{
    color: rgb(165, 164, 164);
}

.hr{
    color: rgb(196, 194, 194);
}


/* Section-Best-seller-product */
.main-content> .best-seller-product{
    height: 83rem;
    background-color: rgba(0, 255, 255, 0);
    width: 75%;
    margin: auto;
    margin-top: 6rem;
    
}
.best-seller-product> .title-best-seller{
    display:flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.title-best-seller>span{
    font-size: 22px;
    margin-left: 16px;
    color: black;
}

.title-best-seller> a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-color: goldenrod ;
    text-decoration-thickness: 0.15em;
    transition: .5s;
}
a:hover{
    text-decoration-color: rgb(37, 37, 36) ;
}
.main-card{
    margin-left: 20px;
    margin-right: -20px;
    gap: 10px;
}
.best-seller-product>.main-card> .card-class{
    width: 435px;
    height: 550px;
    border: none;
    border-radius: 0px;
    
    
    
}
.card-class> .sale-category{
    background-color: rgba(127, 255, 212, 0);
}
.sale-category>.owe-sale{
    position: absolute;
    display: inline;
    right: 0px;
    padding: 10px 4px;
    background-color: rgb(54, 94, 46);
    border-radius: 2.5em;
    color: white;
    z-index: 1;
}
.card-class> .caption{
    /* background-color: rgba(127, 255, 212, 0.977); */
    margin-top: 25px;
    position: relative;
}
.caption> h6,del{
    font-weight: 600;
   
}
h6 a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.card-class> .card-body{
    cursor:pointer;
    position: relative;
}

.card-body>.min-caption> .caption{
    position: absolute;
    bottom: 9px;
    left: 9px;
    padding: 8px;
    width: 418px;
    border: none;
    border-radius: 0px;
    /* background: transparent; */

}
 .min-caption{
    opacity: 0;
    transition: all .3s;
}
.min-caption:hover{
  opacity: 1;
  

}
.card-class> .caption>span{
    color: grey;
    font-weight: 600;
}
del{
    color: #d3ced2;
}
.star{
    display: flex;
    justify-content: center;
}
.caption>.star>.bi-star{
    color: #d3ced2;
    float: left;
    
}



/* median-devices */
@media screen and (min-width:768px) and (max-width:884px){
    /* content */
    .main-content{
       width: 100%;
    }
    
    .Brand-name{
        font-size: 18px;
        font-weight: 800;
        margin: auto;

    }
   /* navbar */
 
    /* slider */
    .main-content>.silder{
        position: relative;
        margin-top: 10px;
        width: 100%;
        height: 440px;
        margin-top: 15px;
           background: #000;

    }
    .silder> .detial{
        position: absolute;
        width: 470px;
        height: 400px;
        background-color: #00a2ff00;
        top: 15px;
        left: 30px;
        padding: 15px 0px;
    }
    .detial> .title>h3{
        margin-top: 35px;
        margin-bottom: 10px;
        color:white;
        font-size: 50px;
    
    }
    .detial>.decsrption{
        color: #ffffff;
        font-size:17px;
        line-height: 30px;
        
    }
    .detial>.btn-gr>.iner-btn-gr{
        margin-left: -10px;
        margin-top: -10px;
    }
    .detial>.btn-gr>.iner-btn-gr>button{
        padding: 10px 0px;
        border: 0px;
        font-weight: 600; 
    }
    
    /* image -silder*/
    .silder>img{
        width: 100%;
        height: 100%;
      
    }

    /* Logo-content */
    .main-content>.Content-us{
        background-color: rgba(0, 255, 255, 0);
        width: 100%;
    }
    .logo-content-us>.logo{
     width: 144px;

    }
    .logo-content-us>.logo-text{
        height: 55px;
        background-color: rgba(0, 255, 255, 0);
       
    }
    .logo-text> .card{
        padding-top: 55px;
    }


    /* ALL image */
    img{
        width: 100%;
        height: 100%;
    }
    
/*about-exspensive-brand */
.Content-us> .expensive-brand>.inner-exp-brand{
    height: 750px;
    width:  920px;
    background-color: rgba(255, 166, 0, 0); 
    border-top: 1px solid rgb(211, 209, 209);
    padding: 100px 35px;
    
}
.expensive-brand>.image{
    margin-top: 75px;
    background-color: rgba(11, 11, 255, 0);

    
}
.image>img{
    height: 490px;
    width: 440px;
}

.expensive-brand> .decsrption{
    /* margin-top: 75px; */
    background-color: rgba(4, 255, 0, 0);
    
}
.decsrption>.text-group>.aboutus{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    color:rgb(255, 81, 0);
}
.text-group>.header-exsp-brnad{
    font-size:40px;
    line-height: 45px;

}
.text-group>.caption{
    color: grey;
    line-height:35px;  
    font-size:21px;
    margin-bottom: 25px;

}
.decsrption>.text-group> p>a{
   text-decoration:underline;
   font-size: 20px;
   font-weight: 600;
   letter-spacing: 2px;
   transition: .5s;
   color: rgb(0, 0, 0);
   text-underline-offset: 0.5em;
   cursor: pointer;
  
    
}
.text-group>.link-read>:hover{
    text-decoration: underline 2px rgb(255, 157, 0);
}
/*section-Create-shoes */
/* header */
.main-content>.main-create-shoe{
    width: 100%;
    height: 800px;
    background-color:#f1f1ef;
    margin: auto;
    margin-top: 45px;
    padding:0px 30px;

}

/* detail */

.detail-create-shoes>.detail-create-shoes-left{
    padding-left: 30px;
    padding-top: 60px;
   font-size: 20px;
}
.detail-create-shoes>.detail-create-shoes-right{
    padding-right: 0px;
    padding-top: 80px;
    font-size: 20px;
}
.detail-create-shoes>.image-create-shoes{
    height: 320px;
    width: 420px;
    margin-top: 110px;
    margin-left: 10px;
}
.no-1{
    color: var(--color--luminous-vivid-amber);
 }
 .main-create-shoe>.title{
    padding-top: 0px;
  
 }
.main-create-shoe>.title >.title-main-create-shoes{
   color: rgb(0, 0, 0);
   padding-top: 70px;
   font-size: 45px;
   font-weight: 500;
}
.main-create-shoe>.title> .d-title{
    padding: 0px 100px;
    color: rgb(165, 164, 164);
    font-size: 18px;
    line-height: 30px;
}
.description{
    color: rgb(165, 164, 164);
}

.hr{
    color: rgb(196, 194, 194);
}
/* section-best-seller */
.main-content> .best-seller-product{
    height: 83rem;
    background-color: rgba(0, 255, 255, 0.02);
    width: 97%;
    margin: auto;
    margin-top: 6rem;
    
}
.best-seller-product> .title-best-seller{
    display:flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.title-best-seller>span{
    font-size: 25px;
    margin-left: 16px;
    color: black;
}

.title-best-seller> a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-color: goldenrod ;
    text-decoration-thickness: 0.15em;
    transition: .5s;
}
a:hover{
    text-decoration-color: rgb(37, 37, 36) ;
}
.main-card{
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 380px;
    
    
}
.best-seller-product>.main-card> .card-class{
    width: 275px;
    height: 350px;
    border: none;
    border-radius: 0px;
    
    
    
}
.card-class> .sale-category{
    background-color: rgba(127, 255, 212, 0);
}
.sale-category>.owe-sale{
    position: absolute;
    display: inline;
    right: -5px;
    top: -15px;
    padding: 10px 4px;
    background-color: rgb(54, 94, 46);
    border-radius: 2.5em;
    color: white;
    z-index: 1;
}
.card-class> .caption{
    /* background-color: rgba(127, 255, 212, 0.977); */
    margin-top: 15px;
    position: relative;
    z-index: 10;
    margin-bottom: 200px;
}
.caption> h6,del{
    font-weight: 600;
   
}
h6 a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.card-class> .card-body{
    cursor:pointer;
    position: relative;
}

.card-body>.min-caption> .caption{
    position: absolute;
    bottom: 15px;
    left: 1rem;
    padding: 5px;
    width: 219px;
    border: none;
    border-radius: 0px;
    /* background: transparent; */

}
.min-caption{
    opacity: 0;
    transition: all .3s;
}
.min-caption:hover{
  opacity: 1;
}
.card-class> .caption>span{
    color: grey;
    font-weight: 600;
}
del{
    color: #d3ced2;
}
.star{
  padding-right: 173px;
    
}
.caption>.star>.bi-star{
    color: #9f9f9f;
    float: left;
}

}
/* small-devices */
@media screen and (min-width:320px) and (max-width:430px){
    .main-content{
        width: 100%;
        
     }
     .Brand-name{
         font-size: 20px;
         font-weight: 800;
         margin-left: 120px;
     }
     /* navbar */

     /* slider */
     .main-content>.silder{
         position: relative;
         margin-top: 10px;
         width: 100%;
         height: 590px;
         margin-top: 15px;
         
         
        }
     .silder> .detial{
         position: absolute;
         width: 450px;
         height: 450px;
         background-color: #00a2ff00;
         top: 0px;
         left: 0px;
         padding: 20px 90px;
         
        }
     .detial> .title>h3{
         margin-top: 40px;
         margin-bottom: 10px;
         color:white;
         font-size: 60px;
         line-height: 80px;
         
        }
     h3> span{
         margin-left: 19px;
     }
     h3>.wa{
         margin-left: 28px;
        }
     .detial>.decsrption{
         color: #ffffff;
         margin-left: -45px;
         margin-right: -45px;
         font-size: 17px;
         line-height: 30px;
         margin-top: 10px;
        }
     p>span{
         margin-left: 75px;
     }
     /* Button */
    
     .detial>.btn-gr>.iner-btn-gr{
        /* background-color: #00d084; */
        margin-top: 20px;
       margin-left: -60px;
       margin-right: -60px;
       
    }
     .detial>.btn-gr>.iner-btn-gr>button{
        letter-spacing: 3px;
        border: 0px;
        font-weight: 600; 
        
    }
     
    /* image-slider */
    .silder>img{
         width: 100%;
         height: 100%;
         object-fit: cover;
        }

        /* content-us */
        .Content-us{
        background-color: rgba(28, 255, 255, 0);
        width: 90%;
        height: 1000px;
        margin: auto; 
        
    }
    /* logo-brand */
    .logo-content-us>.logo,
    .logo-content-us>.logo-text{
       height: 180px;
       margin-top: -60px;
       margin-left: -2px;
       
    }
    .logo>.card,
    .logo-text>.card{
        height: 130px;
        width: 195px;
        border-radius: 0px;
        border: none;
    }
    img{
        height: 100%;
        width: 100%;
        
    }

    /*about-exspensive-brand */
    .Content-us> .expensive-brand{
        width: 400px;
        height: 950px;
        background-color: rgba(0, 255, 255, 0);
        
    }
    .Content-us> .expensive-brand>.inner-exp-brand{
    height: 700px;
    width:  406px;
}
.expensive-brand>.image{
    margin-top: 65px;
    margin-left: 5px;
    
}
.image>img{
    height: 420px;
    width: 98%;
}

.expensive-brand> .decsrption{
    background-color: rgba(4, 255, 0, 0);
    margin-top: 5px;
}
.decsrption>.text-group>.aboutus{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px;
    color:rgb(255, 81, 0)
}
.text-group>.header-exsp-brnad{
    font-size:33px;
    line-height: 43px;
    font-weight: 500;
}
.text-group>.caption{
    color: rgb(179, 179, 179);
    line-height:30px;  
    font-size:17px 
}
.decsrption>.text-group> p>a{
   text-decoration:underline;
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 2px;
   transition: .5s;
   color: darkslategray;
   text-underline-offset: 0.5em;
   cursor: pointer;
   
}
.text-group>.link-read>:hover{
    text-decoration: underline 2px rgb(255, 157, 0);
}

/*section-Create-shoes */
/* header */
.main-content>.main-create-shoe{
    width: 95%;
    height: 1400px;
    background-color:#f1f1ef;
    /* background-color:rgba(167, 17, 17, 0.732); */
    margin-top: 400px;
    
}

/* detail */

.detail-create-shoes>.detail-create-shoes-left{
    padding-left: 30px;
    padding-top: 50px;
    
}
.detail-create-shoes>.detail-create-shoes-right{
    padding-right: 30px;
    padding-top: 70px;
}
/* image */
.detail-create-shoes>.image-create-shoes{
    height: 320px;
    width: 450px;
    margin-top: 30px;
    margin-left: 10px;
}
.no-1{
    color: var(--color--luminous-vivid-amber);
}
.main-create-shoe>.title{
    background-color: rgba(127, 255, 212, 0);
    padding-top: 100px;
 }
.main-create-shoe>.title >.title-main-create-shoes{
    color: rgb(0, 0, 0);
    /* padding-top: 100px; */
    font-size: 40px;
    font-weight: 500;
}
.main-create-shoe>.title> .d-title{
    padding: 0px 20px;
    color: rgb(165, 164, 164);
    font-size: 18px;
    line-height: 30px;
}
.description{
    color: rgb(165, 164, 164);
}

.hr{
    color: rgb(196, 194, 194);
}

/* section-best-seller */
.main-content> .best-seller-product{
    height: 73rem;
    background-color: rgba(0, 255, 255, 0);
    width: 99%;
    margin-top: 6rem;
    
}
.best-seller-product> .title-best-seller{
    display:flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.title-best-seller>span{
    font-size: 22px;
    margin-left: 16px;
    color: black;
}

.title-best-seller> a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-color: goldenrod ;
    text-decoration-thickness: 0.15em;
    transition: .5s;
}
a:hover{
    text-decoration-color: rgb(37, 37, 36) ;
}
.main-card{
    margin-left: 20px;
    margin-right: -20px;
    gap: 10px;
    
}
.best-seller-product>.main-card> .card-class{
    width: 200px;
    height: 330px;
    border: none;
    border-radius: 0px;
    margin-left: 12px;


}
.card-class> .sale-category{
    background-color: rgba(127, 255, 212, 0);
}
.sale-category>.owe-sale{
    position: absolute;
    display: inline;
    right: -5px;
    top: -10px;
    padding: 10px 4px;
    background-color: rgb(54, 94, 46);
    border-radius: 2.5em;
    color: white;
    z-index: 1;
}
.card-class> .caption{
    background-color: rgba(127, 255, 212, 0);
    margin-top: 15px;
    position: relative;
    z-index: 10;
    margin-bottom: 200px;
    
}
.caption> h6,del{
    font-weight: 600;
   
}
h6 a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.card-class> .card-body{
    cursor:pointer;
    position: relative;
}

.card-body>.min-caption> .caption{
    position: absolute;
    bottom: 0px;
    left: 0rem;
    padding: 5px;
    width: 188px;
    border: none;
    border-radius: 0px;
    /* background: transparent; */

}
.min-caption{
    opacity: 0;
    transition: all .3s;
}
.min-caption:hover{
  opacity: 1;
}
.card-class> .caption>span{
    color: grey;
    font-weight: 600;
}
del{
    color: #d3ced2;
}
.star{
   padding-right: 95px;
}
.caption>.star>.bi-star{
    color: #d3ced2;
    float: left;
    
}

}
/* lager devices */
@media screen and (min-width:885px) and (max-width:1728px){
    /* content */
    .main-content{
       width: 100%;
    }
    
    .Brand-name{
        font-size: 18px;
        font-weight: 800;
        margin: auto;

    }
   /* navbar */
 
    /* slider */
    .main-content>.silder{
        position: relative;
        margin-top: 10px;
        width: 100%;
        height: 440px;
        margin-top: 15px;
           background: #000;

    }
    .silder> .detial{
        position: absolute;
        width: 470px;
        height: 400px;
        background-color: #00a2ff00;
        top: 15px;
        left: 30px;
        padding: 15px 0px;
    }
    .detial> .title>h3{
        margin-top: 35px;
        margin-bottom: 10px;
        color:white;
        font-size: 50px;
    
    }
    .detial>.decsrption{
        color: #ffffff;
        font-size:17px;
        line-height: 30px;
        
    }
    .detial>.btn-gr>.iner-btn-gr{
        margin-left: -10px;
        margin-top: -10px;
    }
    .detial>.btn-gr>.iner-btn-gr>button{
        padding: 10px 0px;
        border: 0px;
        font-weight: 600; 
    }
    
    /* image -silder*/
    .silder>img{
        width: 100%;
        height: 100%;
      
    }

    /* Logo-content */
    .main-content>.Content-us{
        background-color: rgba(0, 255, 255, 0);
        width: 100%;
    }
    .logo-content-us>.logo{
     width: 144px;

    }
    .logo-content-us>.logo-text{
        height: 55px;
        background-color: rgba(0, 255, 255, 0);
       
    }
    .logo-text> .card{
        padding-top: 55px;
    }


    /* ALL image */
    img{
        width: 100%;
        height: 100%;
    }
    
/*about-exspensive-brand */
.Content-us> .expensive-brand>.inner-exp-brand{
    height: 760px;
    width:  1279px;
    background-color: rgba(255, 166, 0, 0); 
    border-top: 1px solid rgb(211, 209, 209);
    padding: 100px 135px;
    
}
.expensive-brand>.image{
    margin-top: 75px;
    background-color: rgba(11, 11, 255, 0);

    
}
.image>img{
    height: 490px;
    width: 440px;
}

.expensive-brand> .decsrption{
    /* margin-top: 75px; */
    background-color: rgba(4, 255, 0, 0);
    
}
.decsrption>.text-group>.aboutus{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    color:rgb(255, 81, 0);
}
.decsrption> .text-group{
    margin-top: -100px;
   
}
.text-group>.header-exsp-brnad{
    font-size:40px;
    line-height: 45px;

}
.text-group>.caption{
    color: grey;
    line-height:35px;  
    font-size:21px;
    margin-bottom: 25px;

}
.decsrption>.text-group> p>a{
   text-decoration:underline;
   font-size: 20px;
   font-weight: 600;
   letter-spacing: 2px;
   transition: .5s;
   color: rgb(0, 0, 0);
   text-underline-offset: 0.5em;
   cursor: pointer;
    
}
.text-group>.link-read>:hover{
    text-decoration: underline 2px rgb(255, 157, 0);
}
/*section-Create-shoes */
/* header */
.main-content>.main-create-shoe{
    width: 100%;
    height: 800px;
    background-color:#f1f1ef;
    margin: auto;
    margin-top: 45px;
    padding:0px 30px;

}

/* detail */

.detail-create-shoes>.detail-create-shoes-left{
    padding-left: 30px;
    padding-top: 110px;
   
}
.detail-create-shoes>.detail-create-shoes-right{
    padding-right: 0px;
    padding-top: 130px;
}
.detail-create-shoes>.image-create-shoes{
    height: 320px;
    width: 420px;
    margin-top: 90px;
    
}
.no-1{
    color: var(--color--luminous-vivid-amber);
 }
 .main-create-shoe>.title{
    padding-top: 0px;
  
 }
.main-create-shoe>.title >.title-main-create-shoes{
   color: rgb(0, 0, 0);
   padding-top: 100px;
   font-size: 45px;
   font-weight: 500;
}
.main-create-shoe>.title> .d-title{
    padding: 0px 100px;
    color: rgb(165, 164, 164);
    font-size: 18px;
    line-height: 30px;
}
.description{
    color: rgb(165, 164, 164);
}

.hr{
    color: rgb(196, 194, 194);
}

}