:root {
    --color--black: #000000;
    --color--cyan-bluish-gray: #abb8c3;
    --color--white: #ffffff;
    --color--pale-pink: #f78da7;
    --color--vivid-red: #cf2e2e;
    --color--luminous-vivid-orange: #ff6900;
    --color--luminous-vivid-amber: #fcb900;
    --color--light-green-cyan: #7bdcb5;
    --color--vivid-green-cyan: #00d084;
    --color--pale-cyan-blue: #8ed1fc;
    --color--vivid-cyan-blue: #0693e3;
    --color--vivid-purple: #9b51e0;
    --color-white-f:rgb(191, 190, 190);
    --e-global-color-astglobalcolor4:#f1f1ef;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family:'Roboto',sans-serif;
}
.header{
    background-color:var(--color-white-f);
    font-size: 13px;
    color:rgb(0, 0, 0) ;
}
::selection{
    background-color:var(--color--luminous-vivid-amber) ;
}
.main-content{
    padding: 10px 0px;
    width: 95.7%;
    margin: auto;
    /* background-color: #00d084; */
}
/* navbar */
.navbar-c>.nav-right{
    padding-right: 5px;
    margin-left:10px;
}
.nav-right{
    position: relative;
}
.icon-nav{
    margin-left: 25px;
}
.bi-person-fill{
    font-size: 25px;
    
}
.bi-basket3-fill{
    font-size: 23px;
}

.Ncontact-left{
    margin-top: 7px;
    margin-right: 5px;
    font-weight: 700;
    font-size: 15px;
}
.ourstory{
    margin-top: 7px;
    font-weight: 700;
    font-size: 15px;
    margin-right: 15px;
}

/* navbar-Brand-name */
.Brand-name{
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 23px;
    margin-left: -9px; 
}

.nav-left{
    font-weight:700 ;
    margin-left: 10px;
}
.nav-left>.inner-nav-left{
    font-size: 15px;
    margin-right: 10px;
}
/* silder */
.main-content>.silder{
    /* margin-left: 5px; */
    margin-top: 10px;
    width: 100%;
    height: 880px;
    margin-top: 15px;
    position: relative;
    
}
.silder> .detial{
    position: absolute;
    width: 580px;
    height: 600px;
    background-color: #00a2ff00;
    top: 150px;
    left: 260px;
    padding: 20px;
}
.detial> .title>h3{
    margin-top: 100px;
    margin-bottom: 10px;
    color:white;
    font-size: 73px;

}
.detial>.decsrption{
    color: #ffffff;
}
.detial>.btn-gr>.iner-btn-gr{
    margin-left: -10px;
    margin-top: -10px;
}
.detial>.btn-gr>.iner-btn-gr>button{
    padding: 15px 0px;
    border: 0px;
    font-weight: 600;
    font-size: 15px;

}


/* image */
.silder>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* median-devices  */
@media screen and (min-width:768px) and (max-width:884px){
    /* content */
    .main-content{
       width: 100%;
    }
    
    .Brand-name{
        font-size: 18px;
        font-weight: 800;
        margin: auto;

    }
   /* navbar */
 
    /* slider */
    .main-content>.silder{
        position: relative;
        margin-top: 10px;
        width: 100%;
        height: 420px;
        margin-top: 15px;
        
        
    }
    .silder> .detial{
        position: absolute;
        width: 450px;
        height: 400px;
        background-color: #00a2ff00;
        top: 0px;
        left: 20px;
        padding: 20px;
    }
    .detial> .title>h3{
        margin-top: 35px;
        margin-bottom: 10px;
        color:white;
        font-size: 50px;
    
    }
    .detial>.decsrption{
        color: #ffffff;
        font-size:17px;
        line-height: 30px;
        
    }
    .detial>.btn-gr>.iner-btn-gr{
        margin-left: -10px;
        margin-top: -10px;
    }
    .detial>.btn-gr>.iner-btn-gr>button{
        padding: 10px 0px;
        border: 0px;
        font-weight: 600; 
    }
    
    /* image -silder*/
    .silder>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}
/* window-roll */
@media screen and (min-width:249px) and (max-width:767px){
    /* content */
    .main-content{
        width: 100%;
     }
     .Brand-name{
         font-size: 17px;
         font-weight: 800;
         margin: auto;
     }
    /* navbar */

     /* slider */
     .main-content>.silder{
         position: relative;
         margin-top: 10px;
         width: 100%;
         height: 622px;
         margin-top: 15px;
         
     }
     .silder> .detial{
         position: absolute;
         width: 100%;
         height: 450px;
         background-color: #00a2ff00;
         top: 0px;
         left: 0px;
         padding: 20px 90px;

     }
     .detial> .title>h3{
         margin-top: 40px;
         margin-bottom: 10px;
         color:white;
         font-size: 60px;
         line-height: 80px;
     
     }
     h3> span{
        margin-left: 19px;
     }
     h3>.wa{
        margin-left: 28px;
     }
     .detial>.decsrption{
         color: #ffffff;
         margin-left: -45px;
         margin-right: -45px;
         font-size: 17px;
         line-height: 35px;
         margin-top: 10px;
         /* font-size:3vw; */
         font-size:15px;
         text-align: justify;
         text-justify: inter-word;
         
     }
     
     /* Button */
    
     .detial>.btn-gr>.iner-btn-gr{
       margin-top: 55px;
       margin-left: -60px;
       margin-right: -60px;
    }
    .btn-gr>.btn{
        text-align: center;
    }
     .detial>.btn-gr>.iner-btn-gr>button{
        letter-spacing: 3px;
        border: 0px;
        font-weight: 600; 
      
    }
     
     /* image-slider */
     .silder>img{
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
     
    
}

/* small-devices */
@media screen and (min-width:320px) and (max-width:430px){
    .main-content{
        width: 100%;
     }
     .Brand-name{
         font-size: 20px;
         font-weight: 800;
         margin-left: 120px;
     }
    /* navbar */

     /* slider */
     .main-content>.silder{
         position: relative;
         margin-top: 10px;
         width: 100%;
         height: 590px;
         margin-top: 15px;
         
         
     }
     .silder> .detial{
         position: absolute;
         width: 450px;
         height: 450px;
         background-color: #00a2ff00;
         top: 0px;
         left: 0px;
         padding: 20px 90px;

     }
     .detial> .title>h3{
         margin-top: 40px;
         margin-bottom: 10px;
         color:white;
         font-size: 60px;
         line-height: 80px;
     
     }
     h3> span{
        margin-left: 19px;
     }
     h3>.wa{
        margin-left: 28px;
     }
     .detial>.decsrption{
         color: #ffffff;
         margin-left: -45px;
         margin-right: -45px;
         font-size: 17px;
         line-height: 30px;
         margin-top: 10px;
     }
     p>span{
        margin-left: 75px;
     }
     /* Button */
    
     .detial>.btn-gr>.iner-btn-gr{
        /* background-color: #00d084; */
       margin-top: 20px;
       margin-left: -60px;
       margin-right: -60px;
       
    }
     .detial>.btn-gr>.iner-btn-gr>button{
        letter-spacing: 3px;
        border: 0px;
        font-weight: 600; 
        
    }
     
     /* image-slider */
     .silder>img{
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
     /*about-exspensive-brand */
.Content-us> .expensive-brand{
    height: 700px;
    width:  300px;
    background-color: rgb(255, 166, 0); 
    border-top: 1px solid rgb(211, 209, 209);
}
.expensive-brand>.image{
    margin-top: 75px;
    background-color: rgb(11, 11, 255);

    
}
.image>img{
    height: 390px;
    width: 355px;
}

.expensive-brand> .decsrption{
    margin-top: 75px;
    background-color: rgb(4, 255, 0);
}
.decsrption>.text-group>.aboutus{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    color:rgb(255, 81, 0)
}
.text-group>.header-exsp-brnad{
    font-size:35px;
    line-height: 40px;

}
.text-group>.caption{

    color: grey;
    line-height:30px;  
    font-size:18px 
}
.decsrption>.text-group> p>a{
   text-decoration:underline;
   font-size: 13px;
   font-weight: 600;
   letter-spacing: 2px;
   transition: .5s;
   color: darkslategray;
   text-underline-offset: 0.5em;
   cursor: pointer;
    
}
.text-group>.link-read>:hover{
    text-decoration: underline 2px rgb(255, 157, 0);
}
}